
@model POSSystemWithInventory.EntityModel.SalesInvoice

<style>
    #invoiceTable thead, tbody, tfoot {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-1">
        <button class="btn btn-success btn-sm" id="printBtnSalesInvoiceReport">Print</button>
    </div>
    <div class="col-md-10" style="background-color:ghostwhite;" id="printSalesInvoiceReport">
        <table class="table table-borderless">
            <tr>
                <td id="companyLogo" rowspan="2" align="right">
                    <img src="~/images/Company/logo.jpg" width="100" height="100" alt="No" />
                </td>
                <td style="text-align:center;">
                    <h3 id="companyName" style="font-weight: 500;">Hima Cosmetics</h3><br />
                    <h6 id="companySlogan" style="margin-top: -21px;font-size: 10px;">Buy Cosmetics</h6>
                </td>
                <td width="20%"></td>
                <td>
                    <h3 style="font-weight: 900;">INVOICE</h3><br />
                    <h6 style="margin-top: -21px;font-size: 9px;">No. <b id="invoiceNumber">#@Model.InvoiceNumber</b></h6>
                </td>
            </tr>
            <tr>
                <td> <h6 style="font-size: 11px; text-align:center; margin-top: -20px;">Email: admin@gmail.com</h6></td>
                <td width="20%"></td>
                <td>
                    <h6 id="date" style="font-size: 11px;margin-top: -20px;">Date: @Convert.ToDateTime(Model.CreatedDate).ToString("dd MMM yyyy")</h6>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">Customer Name:</td>
                <td style="text-align:left;"><b>@Model.Customer.Name</b></td>
                <td width="20%"></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align:right;">Contact:</td>
                <td style="text-align:left;"><b>@Model.Customer.Phone</b> <br /><b>@Model.Customer.Email</b></td>
                <td width="20%"></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align:right;">Payment Mode:</td>
                <td style="text-align:left;"><b>@Model.PaymentMode</b></td>
                <td width="20%"></td>
                <td></td>
            </tr>
        </table>
        <table class="table table-bordered" id="invoiceTable">
            <thead style="text-align:center;">
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.SalesInvoiceDetails)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td style="text-align:right;">@item.Quantity <span>@item.Product.Unit.ShortForm</span></td>
                            <td style="text-align:right;">@item.UnitPrice</td>
                            <td style="text-align:right;">@item.Price /-</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align:right;">In Words</td>
                    <td id="amountInWords" style="text-align:right;">@Model.UpdatedBy</td>
                    <td style="text-align:right;">Sub Total</td>
                    <td style="text-align:right;">@Model.SubTotal /-</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right;">Discount</td>
                    <td style="text-align:right;">@Model.Discount %</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right;">Grand Total</td>
                    <td style="text-align:right;" id="grandTotal">@Model.GrandTotal /-</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right;">Paid Amount</td>
                    <td style="text-align:right;">@Model.PaidAmount /-</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right;">Dues</td>
                    <td style="text-align:right;">@Model.Dues /-</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
